{% style %}
  #shopify-section-{{ section.id }} .fc-section {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        position:relative;
      }
  .fc-section:before {
      content: "";
      background-image: url(https://cdn.shopify.com/s/files/1/0627/0572/9595/files/flexbg.png?v=1759824590);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      width: 95%;
      top:0;
      left:50%;
      transform:translateX(-50%);
      height: 100%;
      z-index: -1;
  }

  .fc-section {
    text-align: center;
  }
  /*
  .fc-section h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }

  .fc-section p {
    max-width: 700px;
    margin: 0 auto 40px;
    font-size: 1rem;
    color: #666;
  }
    */

  .fc-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin:4rem 0;
  }

  .fc-info-block {
    flex: 1 1 300px;
    /* max-width: 400px; edited */
    text-align: center;
  }

  .fc-info-block .h2 {
    background: linear-gradient(to right, #8080ff, #ff80a0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  /*
  .fc-info-block p {
    color: #555;
  } */

  .fc-capsule-block {
    display: flex;
    flex-direction:row;
    gap:1rem;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    padding: 3rem 4rem;
    border-radius: 50px;
    max-width: 700px;
    margin: 6rem auto 0;
    color: white;
    text-align: left;
  }

  .fc-capsule-block p {
    margin: 0;
    flex:0.75;
    text-align:left;
  }

  .fc-capsule-block a {
    display: inline-block;
    background: white;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
  }
  .fc-section .h1 {
      display: block;
      max-width: 70rem;
      margin: auto;
  }
  /* .fc-section p {
      max-width: 95rem;
      margin: 2rem auto;
  } */
    .fc-para {
      max-width: 95rem;
      margin: 2rem auto;
  }
.fc-badge {
    background-color: #F4F0EA;
    width: 20rem;
    margin: 0 auto 2rem;
    font-size: 12px;
    border-radius: 35px;
    padding:1rem;
    text-transform: uppercase;
    font-weight: 500;
}

  @media screen and (max-width: 768px) {

    #shopify-section-{{ section.id }} .fc-section {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
      }
    
  .fc-section:before {
    content:none;
  }

  .fc-capsule-block {
      flex-direction:column;
      justify-content:center;
      align-items:center;
    }

  .fc-capsule-block p {
    text-align:center;
  }
  }
{% endstyle %}

<section class="fc-section page-width">

  {% if section.settings.fc_badge != blank %}
    <div class="fc-badge"><span>{{ section.settings.fc_badge }}</span></div>
  {% endif %}
  
  {% if section.settings.heading != blank %}
    <span class="h1">{{ section.settings.heading }}</span>
  {% endif %}

  {% if section.settings.description != blank %}
    <p class="fc-para">{{ section.settings.description }}</p>
  {% endif %}

  <div class="fc-flex-wrapper">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'info_block' %}
          <div class="fc-info-block" {{ block.shopify_attributes }}>
            {% if block.settings.heading != blank %}
              <span class="h2">{{ block.settings.heading }}</span>
            {% endif %}
            {% if block.settings.text != blank %}
              <p>{{ block.settings.text }}</p>
            {% endif %}
          </div>
      {% endcase %}
    {% endfor %}
  </div>

  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'capsule_block' %}
        <div
          class="fc-capsule-block"
          style="background-image: url({{ block.settings.bg_image | image_url }});"
          {{ block.shopify_attributes }}
        >
          <p>{{ block.settings.text }}</p>
          {% if block.settings.button_label != blank %}
            <a href="{{ block.settings.button_link }}">{{ block.settings.button_label }}</a>
          {% endif %}
        </div>
    {% endcase %}
  {% endfor %}
</section>

{% schema %}
{
  "name": "Flex Columns",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "fc_badge",
      "label": "Top Badge",
      "default": "Backed by Science"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Top Heading",
      "default": "Personalized health support you can trust"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Top Description",
      "default": "Lasting results don’t come from shortcuts. By pairing real medical guidance with science-backed semaglutide treatment, we make weight loss safer, simpler, and more achievable."
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "info_block",
      "name": "Info Block",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Block Heading",
          "default": "Guidance from Experts"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Block Text",
          "default": "Licensed professionals delivering personalized care for every patient."
        }
      ]
    },
    {
      "type": "capsule_block",
      "name": "Capsule Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background Image"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Your health journey starts here expert led and results-driven."
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label",
          "default": "Play video"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Flex Columns",
      "category": "Custom"
    }
  ]
}
{% endschema %}
